<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title}} :: {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header role="header">
      <h1>{{ site.name }}</h1>
    </header>
    <main role="main">
      <article>
	{{ content }}
      </article>
    </main>
    <footer role="footer">
      <a href="{{ site.url}}">{{ site.title }}</a>
    </footer>
  </body>
</html>
